################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/proof-1/FileContentIndex
/.vs/proof-1/v17
/.vs
